
<div class="container-fluid main">
  <a href="/words" class="btn btn-info" role="button">View Your Words</a>
</div>
<a href="/words/new">Add New Word</a>
 <a href="/words" class="btn btn-info" role="button">Link Button</a>
