<h1>Add words</h1>

<p>Add a word here:</p>

<form action="/words" method="post">
  <label for="Word">word's name:</label>
  <input id="word" name="word" type="text">
  <button type="submit">Add word</button>
</form>
