<h3>Here are all the definitions in this word:</h3>

  <ul>
    <% @word.definitions().each() do |definitions| %>
  </li>  <%= definitions.definition() %></li>
    <% end %>
  </ul>

  <a href="/word/<%= @word.id%>/definitions/new">Add a new definition</a>
  <a href="/">Return to Main Page</a>
