<h3>Here are all the definitions in this word:</h3>

  <ul>
    <% @word.definitions().each() do |definitions| %>
  </li>  <%= definition.definition() %></li>
    <% end %>
  </ul>

  <a href="/words/<%= @word.id%>/words/new">Add a new word</a>
  <a href="/">Return to Main Page</a>
