<h1>Words</h1>

  <ul>
    <% @words.each() do |word| %>
      <p><%= word.word() %>  <a href="/words/<%= word.id() %>" class="btn btn-info btn-sm" role="button">Definition</a>  </p>
    <% end %>
  </ul>
